.app {
  position: relative;
}

/* Общие стили секций */
section {
  padding: 6rem 0;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 480px) {
  section {
    padding: 4rem 0;
  }
}
